* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --yellow: #ffdd33;
  --red: #ff4422;
  --dark-pink: #ffebe7;
  --light-pink: #fffaf8;
  --dark-grey: #131313;
  --img-gradient: linear-gradient(
    340deg,
    rgba(0, 0, 0, 1),
    rgba(18, 18, 18, 0)
  );
  --header-gradient: linear-gradient(
    350deg,
    rgb(0, 0, 0),
    rgba(220, 0, 0, 0.544)
  );
}

html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  margin: 2px 10px;
}
nav {
  width: 100%;
}
.navbar {
  font-size: 1.4rem;
}

.navbar ul {
  display: flex;
}

.top-list-left li,
.top-list-right li {
  list-style: none;
  padding: 5px 10px;
}

.top-list-left {
  left: 0px;
  top: 0px;
}

.top-list-right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.top-nav {
  background: black;
  color: white;
  height: 2.5rem;
}

.top-nav a {
  color: white;
  text-decoration: none;
}
.navigation a {
  text-decoration: none;
  color: rgb(108, 108, 108);
}
.navigation li {
  list-style: none;
  padding: 18px 15px;
  background: #fdfdfd;
}

.fa-search {
  position: absolute;
  right: 0px;
  color: lightgrey;
  padding: 18px;
  border: 0.5px solid rgba(48, 48, 48, 0.085);
  transform: rotate(90deg);
  top: 25px;
}

.fa-search:hover {
  color: black;
}

.fest-ad {
  background: var(--yellow);
  padding: 5px 15px;
}

.fest-ad a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.main-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  color: white;
}
@media (max-width: 750px) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .logo img {
    display: none;
  }
  .header-left {
    height: 15rem;
  }
  .header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .header-right div {
    height: 15rem;
  }
  .top-nav {
    display: none;
  }
}

.header-left {
  background: var(--header-gradient),
    url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F02%2FNew-Project-10.png&signature=62be7b56c9b11cfa3ca8d429c4e23c18);
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.header-right {
  display: grid;
  grid-gap: 8px;
  height: 60vh;
}
.header-right-top {
  background: var(--img-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/Copy-of-Copy-of-Copy-of-Copy-of-...-1-1-796x417.png);
}

.header-right-bottom {
  background: var(--img-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/earth-1149733_1920-796x529.jpg)
      30%,
    10%;
}
.logo img {
  width: 40%;
  /* padding: 0px 0px 30vh; */
}
.header-date {
  float: right;
  font-size: 1.6rem;
}

.header-left-contents {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 45%;
  width: 100%;
  grid-column: 1/3;
  font-size: 1.4rem;
}

.header-right-contents {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  width: 100%;
  grid-column: 1/3;
  font-size: 1.4rem;
  padding: 10px;
}

.header-left-contents h2 {
  font-size: 5rem;
}
.header-right-contents h2 {
  font-size: 3rem;
}

.header-left-contents ul,
.header-left-contents li,
.header-right-contents ul,
.header-right-contents li {
  display: flex;
  padding: 0px 8px 0px 0px;
  color: grey;
}

.latest-news {
  width: 100%;
  align-content: center;
}

.latest-news h2 {
  color: var(--red);
  margin: 2rem 15%;
  font-size: 3rem;
}

.latest-news-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  margin: 2rem 15%;
  grid-gap: 2rem;
}

.latest-news-main img {
  width: 100%;
}

.latest-news-main a {
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.latest-news-main span,
.latest-news-main p {
  font-size: 1.2rem;
  display: inline-flex;
  color: lightgrey;
}
.latest-news-main span {
  float: left;
}
.latest-news-main p {
  float: right;
}

.latest-rounds {
  margin: 2rem 15%;
}

.latest-rounds h2 {
  color: var(--red);
  font-size: 3rem;
}

.latest-rounds ul {
  float: right;
}

.latest-rounds ul,
.latest-rounds li a {
  display: inline-flex;
  list-style: none;
  padding: 3px 10px;
  text-decoration: none;
  color: var(--red);
  font-size: 1.6rem
}

.rounds-items {
  display: flex;
  
}