* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general elements */

.red-link {
  color: var(--red);
  text-decoration: none;
}

.red-link:hover {
  color: black;
}

:root {
  --yellow: #fd3;
  --red: #f42;
  --dark-pink: #ffebe7;
  --light-pink: #fffaf8;
  --dark-grey: #131313;
  --img-gradient:
    linear-gradient(
      340deg,
      rgba(0, 0, 0, 1),
      rgba(18, 18, 18, 0)
    );
  --header-gradient:
    linear-gradient(
      350deg,
      rgb(0, 0, 0),
      rgba(220, 0, 0, 0.544)
    );
}

html {
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  margin: 2px 10px;
}

nav {
  width: 100%;
}

.navbar {
  font-size: 1.4rem;
}

.navbar ul {
  display: flex;
}

.top-list-left li,
.top-list-right li {
  list-style: none;
  padding: 5px 10px;
}

.top-list-left {
  left: 0;
  top: 0;
}

.top-list-right {
  position: absolute;
  right: 0;
  top: 0;
}

.top-nav {
  background: black;
  color: white;
  height: 2.5rem;
}

.top-nav a {
  color: white;
  text-decoration: none;
}

.navigation a {
  text-decoration: none;
  color: rgb(108, 108, 108);
}

.navigation li {
  list-style: none;
  padding: 18px 15px;
  background: #fdfdfd;
}

.fa-search {
  position: absolute;
  right: 0;
  color: lightgrey;
  padding: 18px;
  border: 0.5px solid rgba(48, 48, 48, 0.085);
  transform: rotate(90deg);
  top: 25px;
}

.mobile-nav {
  display: none;
}

.fa-search:hover {
  color: black;
}

.fest-ad {
  background: var(--yellow);
  padding: 5px 15px;
}

.fest-ad a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.main-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  color: white;
}

.header-left {
  background:
    var(--header-gradient),
    url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F02%2FNew-Project-10.png&signature=62be7b56c9b11cfa3ca8d429c4e23c18);
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.header-right {
  display: grid;
  grid-gap: 8px;
  height: 60vh;
}

.header-right-top {
  background:
    var(--img-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/Copy-of-Copy-of-Copy-of-Copy-of-...-1-1-796x417.png);
}

.header-right-bottom {
  background:
    var(--img-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/01/earth-1149733_1920-796x529.jpg)
      30%,
    10%;
}

.logo img {
  width: 40%;
}

.header-date {
  float: right;
  font-size: 1.6rem;
}

.header-left-contents {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 45%;
  width: 100%;
  grid-column: 1/3;
  font-size: 1.4rem;
  padding-bottom: 15px;
}

.header-right-contents {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 45%;
  width: 100%;
  grid-column: 1/3;
  font-size: 1.4rem;
  padding: 15px;
}

.header-left-contents h2 {
  font-size: 4.6rem;
}

.header-right-contents h2 {
  font-size: 3rem;
}

.header-left-contents ul,
.header-left-contents li,
.header-right-contents ul,
.header-right-contents li {
  display: flex;
  padding: 0 8px 0 0;
  color: grey;
}

/* media queries goes here */

@media screen and (max-width: 768px) {
  .navigation {
    width: 100%;
  }

  .navigation li {
    display: none;
  }

  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
  }

  .logo img {
    display: none;
  }

  .header-left {
    height: 18rem;
    display: block;
  }

  .header-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: 100%;
  }

  .header-right div {
    height: 18rem;
    display: block;
  }

  .header-left-contents {
    width: 100%;
    height: 100%;
  }

  .top-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    height: 5rem;
    background: white;
    width: 100%;
    z-index: 1000;
  }

  .mobile-nav ul {
    float: right;
    list-style: none;
  }

  .mobile-nav img {
    width: 10rem;
    position: absolute;
    left: 0;
    height: 5rem;
  }

  .fa-search {
    position: relative;
    top: 0;
  }

  .fa-bars {
    padding: 18px;
    border: 0.5px solid rgba(48, 48, 48, 0.085);
    top: 25px;
    color: var(--red);
  }

  .fest-ad {
    display: none;
  }

  main {
    padding-top: 5.1rem;
  }

  .header-date {
    display: none;
  }

  div.deals-card {
    display: flex;
  }

  div.bg {
    padding-top: 7.5rem;
    width: 75px;
    height: 0;
    margin-right: 2rem;
  }

  div.deals-card--tag {
    display: none;
  }

  div.deals-card-text a {
    font-size: 1.3rem;
  }

  div.deals-card-text {
    padding: 0;
  }

  /*
  mediaquery for footer */

  .footer-nav-container {
    width: 100%;
  }

  div.deals-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  div.app {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.title-container a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.6rem;
}

.title-container span {
  font-size: 1rem;
  color: lightgray;
  position: relative;
  top: 2rem;
}

/* media query for tablets */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  div.deals-cards {
    grid-template-columns: repeat(3, 1fr);
    width: 96%;
    margin: 4rem 0;
  }

  div.app {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* table media query ends here */
.footer {
  font-size: 1.6rem;
  background-color: var(--dark-grey);
}

.footer-copyright {
  color: #aaa;
  font-size: 1.1rem;
  margin: auto;
  padding: 4rem;
  text-align: center;
  background: black;
}

.love {
  color: red;
  font-size: 1.6rem;
}

.footer-copy {
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  cursor: pointer;
}

/* styling the deals section */

.deals {
  font-size: 1.6rem;
  width: 100%;
}

.deals-cards {
  max-width: 124rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 2rem auto;
  grid-template-rows: repeat(2, minmax(25rem, auto));
}

.deals-list {
  max-width: 124rem;
  margin: 4rem auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.red-link.big {
  font-size: 2.3rem;
  font-weight: bolder;
  grid-template-columns: 1fr;
  letter-spacing: -0.015em;
}

.red-link.small {
  font-size: 1.4rem;
  letter-spacing: -0.123px;
}

.bg {
  height: 70%;
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

.story-image {
  background-color: #000;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
}

.bg1 {
  background-image: url('https://cdnp2.stackassets.com/951117fa37bba0fe8c35739ab4459a0c01b9590f/store/2e4b58df51e1a58ef7a4e81238bf44883552cc806bdcd1a077740a375ec1/sale_25677_primary_image.jpg');
}

.bg2 {
  background-image: url('https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg');
}

.bg3 {
  background-image: url('https://cdnp0.stackassets.com/a875072fa31f35279ce85438b376249c54eca996/store/8534f1826bec31d741297d74ee8a30edc0f492f8f74cd08aa4ed0103d42a/sale_14523_primary_image.jpg');
}

.bg4 {
  background-image: url('https://cdnp0.stackassets.com/3d28a01310d47a9ece38eb1a189790944b8e512e/store/bd912e50369c037674603acf0ef1a582b658ef72662651d6eab3d7aa657e/sale_25558_primary_image.jpg');
}

.bg5 {
  background-image: url('https://cdnp3.stackassets.com/e349ad77dedb09e663dd8ec86a4759713e72d606/store/c89e42f0e55479d65b6c97b7a476cc30d03feb46f2ea8e3320dca7019111/sale_24696_primary_image.jpg');
}

.bg6 {
  background-image: url('https://cdnp3.stackassets.com/0b442829152188ef5c1de0aff7d72820282f26e0/store/73b9b30bec03d67a0c89bae3aaaddafc5a59895b1edd5194d61ab010f926/sale_20564_primary_image.jpg');
}

.bg7 {
  background-image: url('https://cdnp1.stackassets.com/3c7255c565df64669fabc969bfd7cbaa1b2178c4/store/36c7d535db46e3b794b7b76c698d5ccfc005e8b164028011bc6b85496690/sale_25675_primary_image.jpg');
}

.bg8 {
  background-image: url('https://cdnp2.stackassets.com/7a52fa1ea563b69972a625495a4d799f0da1196b/store/44902fe2b6d0ff858be14781320f89c96e10d0b57c4015dea1aafcea7553/sale_25322_primary_image.jpg');
}

.latest-news {
  width: 100%;
  align-content: center;
}

.latest-news h2 {
  color: var(--red);
  margin: 2rem 15%;
  font-size: 3rem;
}

.latest-news-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  margin: 2rem 15%;
  grid-gap: 2rem;
}

.latest-news-main img {
  width: 100%;
}

.latest-news-main a {
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.latest-news-main span,
.latest-news-main p {
  font-size: 1.2rem;
  display: inline-flex;
  color: lightgrey;
}

.latest-news-main span {
  float: left;
}

.latest-news-main p {
  float: right;
}

.latest-rounds {
  margin: 2rem 15%;
}

.latest-rounds h2 {
  color: var(--red);
}

.deals-card-text {
  padding: 10px 0;
}

.deals-card-text a {
  color: black;
  font-weight: bolder;
  text-transform: capitalize;
  text-decoration: none;
}

.deals-card--tag {
  background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/deals-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 10;
}

.deals-tag {
  transform: rotate(45deg);
  font-size: 14px;
  font-weight: 700;
  left: 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
  width: 100%;
}

.deals-price span {
  font-size: 1.4rem;
  color: darkgray;
  text-decoration: line-through;
  margin-right: 10px;
}

.rounds-header {
  display: flex;
  margin: 2rem 0;
}

.rounds-header h2 {
  color: var(--red);
  font-size: 2.5rem;
}

.rounds-header ul,
.rounds-header a {
  color: var(--red);
  text-decoration: none;
}

.rounds-header ul {
  position: absolute;
  right: 14%;
  text-align: right;
}

.rounds-header ul,
.rounds-header li {
  display: inline-flex;
  list-style: none;
  padding: 0 5px;
  font-size: 1.7rem;
}

.round-services li,
.round-services i {
  list-style: none;
  display: flex;
  padding: 5px 5px 5px 0;
}

.app li {
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
  list-style: none;
}

.footer ul,
.footer-ul-text li {
  list-style: none;
  display: flex;
  padding: 10px;
}

.footer-ul-icons > li {
  padding: 10px;
  background: #333;
  border-radius: 30px;
  margin: 10px;
}

.footer-ul-icons > li:hover {
  background: black;
}

.footer-legal {
  height: 9px;
  cursor: pointer;
}

.footer-nav-container {
  background-color: #131313;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer-ul-icons li a {
  color: white;
  font-size: 2rem;
}

.footer-ul-text li a {
  color: darkgray;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: sans-serif;
}

.footer-ul-text li :hover {
  color: white;
}

.footer ul li a {
  text-decoration: none;
  text-align: center;
}

.footer-ul-text ul li a:hover {
  color: black;
}

.rounds-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  height: 30rem;
  background: var(--light-pink);
}

.rounds-main img {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 10px;
}

.round-item-body {
  font-size: 1.3rem;
  padding: 10px;
}

.round-item-header {
  background: var(--red);
  height: 4rem;
  width: 100%;
}

.rounds-main p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3rem;
}

.round-item-header h3 {
  padding: 13px 10px 0 8rem;
  color: white;
  font-size: 1.5rem;
}

.round-item-price {
  height: 6rem;
  width: 100%;
  padding: 7px 10px 0 8rem;
  background: var(--dark-pink);
}

.round-item-price h3 {
  font-size: 1.6rem;
}

.round-item-price p {
  color: grey;
  font-size: 1rem;
}

.round-item-body small {
  color: grey;
  font-size: 1.3rem;
}

.round-services {
  border-bottom: 0.5px solid #ff43226d;
  height: 8rem;
  margin-bottom: 10px;
}

/* changes started  */
.deal {
  grid-template-rows: repeat(2, minmax(25rem, auto));
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 124rem;
  margin: 2rem auto;
  grid-gap: 2rem;
  font-size: 1.6rem;
}

.app1 {
  background-image:
    var(--header-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/02/spotify-logo-796x419.jpg);
}

.app2 {
  background-image:
    var(--header-gradient),
    url(https://cdnp1.stackassets.com/cba31166b47b2c151d94a8397c4aa0604771f268/store/04b44dd5593f2a7c175e4dd48292fe76d560b9c1c0536d03345aa8c50141/sale_18367_primary_image.jpg);
}

.app3 {
  background-image:
    var(--header-gradient),
    url(https://cdnp0.stackassets.com/a875072fa31f35279ce85438b376249c54eca996/store/8534f1826bec31d741297d74ee8a30edc0f492f8f74cd08aa4ed0103d42a/sale_14523_primary_image.jpg);
}

.app4 {
  background-image:
    var(--header-gradient),
    url(https://cdnp0.stackassets.com/3d28a01310d47a9ece38eb1a189790944b8e512e/store/bd912e50369c037674603acf0ef1a582b658ef72662651d6eab3d7aa657e/sale_25558_primary_image.jpg);
}

.app5 {
  background-image:
    var(--header-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/11/Twitter_stock-796x418.jpg);
}

.app6 {
  background-image:
    var(--header-gradient),
    url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/11/Twitter_stock-796x418.jpg);
}

.app7 {
  background-image:
    var(--header-gradient),
    url(https://cdnp1.stackassets.com/3c7255c565df64669fabc969bfd7cbaa1b2178c4/store/36c7d535db46e3b794b7b76c698d5ccfc005e8b164028011bc6b85496690/sale_25675_primary_image.jpg);
}

.subheader {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 68, 34, 0.06);
}

.subheader-text {
  padding: 1rem 0 1rem 1rem;
}

.subheader-img {
  min-width: 9rem;
  min-height: 9rem;
  background-image: url('https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/05/Discord-Featured.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
}

.app ul {
  margin: 10px;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.app li::before {
  content: '*';
  color: red;
  padding-right: 2rem;
}

.app li:hover {
  color: darkgray;
}

.app-container {
  color: white;
  font-size: 1.3rem;
  min-height: 27.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.title-container {
  position: relative;
  top: 17rem;
  width: 80%;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .rounds-main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }

  .latest-rounds {
    margin: 10px auto;
    width: 100%;
    padding: 10px;
  }

  .rounds-header {
    display: block;
  }

  .rounds-header ul {
    position: relative;
    left: 0;
    padding: 0;
    display: block;
  }

  .rounds-header li {
    text-align: left;
    display: block;
    flex-direction: column;
    padding: 0;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header-left-contents h2,
  .header-right-contents h2 {
    font-size: 1.7rem;
  }

  .header-right-contents,
  .header-left-contents p {
    font-size: 1.2rem;
  }

  .latest-news-main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    grid-auto-rows: 70px;
    grid-gap: 5px;
    margin: 0;
  }

  .latest-news-main > div {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    height: 7rem;
    grid-gap: 10px;
    margin: 5px 10px;
  }

  .latest-news h2 {
    margin: 2rem 0;
  }

  .latest-news-main > div img {
    width: 100%;
    height: 100%;
  }

  .latest-news-main > div a {
    font-size: 1.5rem;
  }

  .footer-ul-icons li a {
    font-size: 1.2rem;
  }

  .footer-ul-icons > li {
    padding: 5px;
  }

  .footer-nav-container {
    width: 89%;
  }

  .footer-ul-text {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* closing mediaqueries */

.app-header {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-right-contents {
    top: 30%;
    padding: 5px;
    font-size: 80%;
  }

  .header-right-contents li {
    font-size: 1.2rem;
  }

  .header-left-contents {
    top: 25%;
  }

  .latest-news {
    width: 100%;
  }

  .latest-news-main {
    width: 100%;
    margin: 0;
  }

  .latest-news h2 {
    margin: 2rem 0;
  }

  .latest-rounds {
    width: 100%;
    margin: 0;
  }

  .rounds-header ul {
    position: absolute;
    right: 10px;
  }

  .rounds-main {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .rounds-last {
    display: none;
  }
}
